<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="RutaLocal" value="C:\Users\Oscar\Ficheros\Euromillones\"/>
    <add key="RutaRemota" value="https://docs.google.com/spreadsheet/pub?key=0AhqMeY8ZOrNKdEFUQ3VaTHVpU29UZ3l4emFQaVZub3c&amp;output=csv"/>
  </appSettings>
  
</configuration> 